src/CommonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--XML schema generated from EBX(R) DMA instance [reference=CommonTypes] on Mon Apr 25 14:20:05 EDT 2022 by user [pateha].-->
<xs:schema xmlns:osd="urn:ebx-schemas:common_1.0" xmlns:fmt="urn:ebx-schemas:format_1.0" xmlns:ebxbnd="urn:ebx-schemas:binding_1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ebxs="urn:ebx-schemas:session_1.0">
    <xs:import namespace="urn:ebx-schemas:common_1.0" schemaLocation="http://schema.orchestranetworks.com/common_1.0.xsd"/>
    <xs:import namespace="urn:ebx-schemas:session_1.0" schemaLocation="http://schema.orchestranetworks.com/session_1.0.xsd"/>
    <xs:element name="root" osd:access="--">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="BaseDate">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Base Date</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="BaseIdKey">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Base Key</osd:label>
            </xs:documentation>
            <xs:appinfo>
                <osd:defaultView>
                    <hidden>true</hidden>
                </osd:defaultView>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:int"/>
    </xs:simpleType>
    <xs:simpleType name="BaseText">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Base Text</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="osd:text">
            <xs:maxLength value="2000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RequiredString" osd:checkNullInput="true">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Required String</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="80"/>
            <xs:pattern value="^\s*[^\s].*$">
                <xs:annotation>
                    <xs:appinfo>
                        <osd:validation>
                            <blocksCommit>onUserSubmit-checkModifiedValues</blocksCommit>
                            <message>Field is mandatory.</message>
                        </osd:validation>
                    </xs:appinfo>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RequiredText" osd:checkNullInput="true">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Required Text</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="osd:text">
            <xs:maxLength value="2000"/>
            <xs:pattern value="(?s)^\s*[^\s].*$">
                <xs:annotation>
                    <xs:appinfo>
                        <osd:validation>
                            <blocksCommit>onUserSubmit-checkModifiedValues</blocksCommit>
                            <message>Field is mandatory.</message>
                        </osd:validation>
                    </xs:appinfo>
                </xs:annotation>
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AddressType">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Address Type</osd:label>
            </xs:documentation>
            <xs:appinfo>
                <osd:defaultView/>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Country" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Country</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:otherFacets>
                            <osd:tableRef>
                                <container>CommonReference</container>
                                <branch>CommonReference</branch>
                                <tablePath>/root/Geography/iso3166-1</tablePath>
                                <display>
                                    <pattern>${./name} - ${./alpha2Code}</pattern>
                                </display>
                            </osd:tableRef>
                        </osd:otherFacets>
                        <osd:defaultView/>
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Street" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Address Line 1</osd:label>
                        <osd:description>Address Line 1</osd:description>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="AddressLine2" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Address Line 2</osd:label>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="AddressLine3" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Address Line 3</osd:label>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="AddressLine4" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Address Line 4</osd:label>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="City" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>City</osd:label>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="State" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>State</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:otherFacets>
                            <osd:tableRef>
                                <container>CommonReference</container>
                                <branch>CommonReference</branch>
                                <tablePath>/root/Geography/iso3166-2</tablePath>
                                <display>
                                    <pattern>${./name}</pattern>
                                </display>
                                <filter>
                                    <predicate>./iso3166-1CountryID=${../Country}</predicate>
                                </filter>
                            </osd:tableRef>
                        </osd:otherFacets>
                        <osd:defaultView/>
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Postcode" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Postal Code</osd:label>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="County" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>County</osd:label>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BaseAudit">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Base Audit</osd:label>
            </xs:documentation>
            <xs:appinfo>
                <osd:defaultView>
                    <displayMode>collapsed</displayMode>
                </osd:defaultView>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="createUser" minOccurs="0" maxOccurs="1" osd:access="RW">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Create User</osd:label>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="createTimestamp" type="xs:dateTime" minOccurs="0" maxOccurs="1" osd:access="RW">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Create Timestamp</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="lastUpdateUser" minOccurs="0" maxOccurs="1" osd:access="RW">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Last Update User</osd:label>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="lastUpdateTimestamp" type="xs:dateTime" minOccurs="0" maxOccurs="1" osd:access="RW">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Last Update Timestamp</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BaseCodeName">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Base Code</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="id" type="BaseIdKey" minOccurs="1" maxOccurs="1"/>
            <xs:element name="code" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Code</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Name</osd:label>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="description" type="BaseText" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Description</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BaseCodePair">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Base Code Pair</osd:label>
            </xs:documentation>
            <xs:appinfo>
                <osd:defaultView>
                    <displayMode>expanded</displayMode>
                </osd:defaultView>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="code" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Code</osd:label>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="description" type="BaseText" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Description</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BaseName">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Base Name</osd:label>
            </xs:documentation>
            <xs:appinfo>
                <osd:defaultView>
                    <displayMode>expanded</displayMode>
                </osd:defaultView>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="baseIdKey" type="xs:int" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>id</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:autoIncrement/>
                        <osd:defaultView/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="RequiredString" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Name</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="BaseText" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Description</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BaseNamePair">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Base Name Pair</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Name</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="BaseText" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Description</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BaseNameValues">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Base Name Values</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Name</osd:label>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="250"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="description" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Description</osd:label>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="BaseText">
                        <xs:maxLength value="250"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="appl" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>APPL</osd:label>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="25"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sortOrder" type="xs:int" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Sort Order</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommonLookup">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Common Lookup Type</osd:label>
            </xs:documentation>
            <xs:appinfo>
                <osd:table>
                    <primaryKeys>/LookupCode </primaryKeys>
                    <defaultLabel>${./DisplayValue}</defaultLabel>
                </osd:table>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="LookupCode" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Lookup Code</osd:label>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="DisplayValue" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Display Value</osd:label>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Description" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Description</osd:label>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Active" type="xs:boolean" minOccurs="1" maxOccurs="1" default="true">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Active</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Communication">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Communication</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PhoneAreaCode" type="xs:int" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Phone Area Code</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PhoneNumber" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Phone Number</osd:label>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="FaxAreaCode" type="xs:int" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Fax Area Code</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FaxNumber" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Fax Number</osd:label>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Mobile" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Mobile</osd:label>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                        <xs:pattern value="^\(\d{3}\)\s\d{3}-\d{4}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Email" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Email</osd:label>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="osd:email">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="URL" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>URL</osd:label>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:anyURI">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateRange">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Date Range</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="startDate" type="BaseDate" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Start Date</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="endDate" type="BaseDate" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>End Date</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EmployeeAudit">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Employee Audit</osd:label>
            </xs:documentation>
            <xs:appinfo>
                <osd:defaultView>
                    <displayMode>collapsed</displayMode>
                </osd:defaultView>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="createUser" minOccurs="0" maxOccurs="1" osd:access="RW">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Create User</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:otherFacets>
                            <osd:tableRef>
                                <container>CommonReferenceSEC</container>
                                <branch>CommonReferenceSEC</branch>
                                <tablePath>/root/COR/Employee_General</tablePath>
                                <display>
                                    <pattern>(${./emp_id}) ${./first_name} ${./last_name}</pattern>
                                </display>
                                <validation>
                                    <severity>info</severity>
                                    <message>The Login ID does not exist.</message>
                                </validation>
                            </osd:tableRef>
                        </osd:otherFacets>
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="createTimestamp" type="xs:dateTime" minOccurs="0" maxOccurs="1" osd:access="RW">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Create Timestamp</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="lastUpdateUser" minOccurs="0" maxOccurs="1" osd:access="RW">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Last Update User</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:otherFacets>
                            <osd:tableRef>
                                <container>CommonReferenceSEC</container>
                                <branch>CommonReferenceSEC</branch>
                                <tablePath>/root/COR/Employee_General</tablePath>
                                <display>
                                    <pattern>(${./emp_id}) ${./first_name} ${./last_name}</pattern>
                                </display>
                                <validation>
                                    <severity>info</severity>
                                    <message>The Login ID does not exist.</message>
                                </validation>
                            </osd:tableRef>
                        </osd:otherFacets>
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="lastUpdateTimestamp" type="xs:dateTime" minOccurs="0" maxOccurs="1" osd:access="RW">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Last Update Timestamp</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Person">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Individual</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="prefix" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Prefix</osd:label>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration osd:label="Dr." value="Dr."/>
                        <xs:enumeration osd:label="Miss" value="Miss"/>
                        <xs:enumeration osd:label="Mr." value="Mr."/>
                        <xs:enumeration osd:label="Mrs." value="Mrs."/>
                        <xs:enumeration osd:label="Sir" value="Sir"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="firstName" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>First Name</osd:label>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="middleName" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>MiddleName</osd:label>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="lastName" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Last Name</osd:label>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="suffix" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Suffix</osd:label>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Email" type="osd:email" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SalesZone">
        <xs:annotation>
            <xs:appinfo>
                <osd:defaultView/>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Country" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Country</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:otherFacets>
                            <osd:tableRef>
                                <container>CommonReference</container>
                                <branch>Common</branch>
                                <tablePath>/root/Geography/iso3166-1</tablePath>
                                <display>
                                    <pattern>${./name} - ${./alpha2Code}</pattern>
                                </display>
                            </osd:tableRef>
                        </osd:otherFacets>
                        <osd:defaultView/>
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="State" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>State</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:otherFacets>
                            <osd:tableRef>
                                <container>CommonReference</container>
                                <branch>Common</branch>
                                <tablePath>/root/Geography/iso3166-2</tablePath>
                                <display>
                                    <pattern>${./name}</pattern>
                                </display>
                                <filter>
                                    <predicate>./iso3166-1CountryID=${../Country}</predicate>
                                </filter>
                            </osd:tableRef>
                        </osd:otherFacets>
                        <osd:defaultView/>
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="county" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>County</osd:label>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="centerLatiitude" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Latitude</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="centerLongitude" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Longitude</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="postalCode" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Postal Code</osd:label>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
